.DS_Store
*.xcworkspace
!*.xcworkspace/contents.xcworkspacedata
*.xcuserdata
DerivedData/
build/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
PlaygroundCache/
.swiftpm/
Packages/
.podspec
Pods/
*.xcuserstate
*.scmblueprint
*.scm
*.playground
__pycache__/
*.pyc
.env
.env.local
.env.*.local
*.log
.ace-tool/
node_modules/
